<div>
    <div fxLayoutAlign="center center">
        <div>DEU BOM</div>
    </div>
    <img src="../assets/images.jfif">
</div>












<!-- <div style="padding:100px;">
    <expansion-panel *ngFor="let ttt of dataSource | async let i = index;" [panelTitle]="ttt.client.name" [panelDescription]="ttt.client.name">
        <tab-g [titleTabs]="['Cliente','Técnico']">
            {{entities[i].client.name}}
            <approach-tests></approach-tests>
        </tab-g>
    </expansion-panel>
    <div>
    </div>
</div> -->




<!-- <ng-container [ngTemplateOutlet]="here" here></ng-container>
  <ng-template #here>

    <tab-g [titleTabs]="['Cliente','Técnico']"></tab-g>
</ng-template> -->

<!-- <div style="padding:30px;">
    <search-table (searchKey)="search($event)" [searchByText]="true"></search-table>
    <br>
    <mat-divider></mat-divider>
    <br>
    <paginated-table (pgEvent)="paging($event)" [dataSourceInput]="dataSource" [pageSizeOptionsInput]="pageSizeOptions" [displayedColumnsInput]="displayedColumnsInventory" [displayedColumnsInputBr]="displayedColumnsInventoryBr" [pageIndex]="this.pageIndex"
        [pageSize]="this.pageSize" [length]="this.length">
    </paginated-table>
</div> -->


<!-- <tab-g [titleTabs]="['Clientes', 'Técnicos']"
 [entities]="['Clientes','TÉCNICO', 'Clientes','TÉCNICO','Clientes', 'TÉCNICO','Clientes','TÉCNICO', 'Clientes','TÉCNICO','Clientes', 'TÉCNICO']">
</tab-g> -->


<!-- <div style="padding:30px;">
    <table-expandable [dataSource]="dataSource" [columnsToDisplay]="displayedColumnsInventory">
    </table-expandable>
</div> -->
