<expansion-panel [dataSourceInput]="dataSource" [panelTitle]="namesOfClientToTitle">


</expansion-panel>

<!-- <div style="padding:30px;">
    <search-table (searchKey)="search($event)" [searchByText]="true"></search-table>
    <br>
    <mat-divider></mat-divider>
    <br>
    <paginated-table (pgEvent)="paging($event)" [dataSourceInput]="dataSource" [pageSizeOptionsInput]="pageSizeOptions" [displayedColumnsInput]="displayedColumnsInventory" [displayedColumnsInputBr]="displayedColumnsInventoryBr" [pageIndex]="this.pageIndex"
        [pageSize]="this.pageSize" [length]="this.length">
    </paginated-table>

</div> -->


<!-- <tab-g [titleTabs]="['Clientes', 'Técnicos']"
 [entities]="['Clientes','TÉCNICO', 'Clientes','TÉCNICO','Clientes', 'TÉCNICO','Clientes','TÉCNICO', 'Clientes','TÉCNICO','Clientes', 'TÉCNICO']">
</tab-g> -->


<!-- <div style="padding:30px;">
    <table-expandable [dataSource]="dataSource" [columnsToDisplay]="displayedColumnsInventory">
    </table-expandable>
</div> -->


<router-outlet>
</router-outlet>
