.around {
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-gap: 1px;
    /* background-color: #365011;
    color: white; */
}

.colors-header {
    /* background-color: rgb(48, 48, 48); */
    /* color: white;
    border: 1px solid black; */
    /* border-bottom: 1px solid black;
    border-right: 1px solid white; */
}

.colors-body {
    /* background-color: rgb(208, 208, 208);
    color: rgb(0, 0, 0);
    border-top: 1px solid black;
    border: 1px solid black; */
}

.spacings-body {
    padding-bottom: 3px;
}

.td-header {
    border-right: 1px solid black;
}


/*
.grid-container-header {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 1px;
    background-color: #365011;
    color: white;
}

.grid-container-body {
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-gap: 50px;
    background-color: #365011;
    color: white;



}
*/


/* .grid-container-body>div {
    text-align: left;
    padding: 5px 0;
    font-size: 15px;
} */


/* .background {
    background-color: #365011;
    color: white;
    border-bottom: 1px solid #1c2c06;
    height: 40px;
} */


/* .border-around {
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 50px;
  padding-right: 10px;
} */
